### Utilizando Pandas

In [16]:
import pandas as pd

In [17]:
documento = 'arquivos/salarios.csv'

In [18]:
df = pd.read_csv(documento)

In [19]:
df.head()

,Name,Position Title,Department,Employee Annual Salary
0,"AARON, ELVIA J",WATER RATE TAKER,WATER MGMNT,$88967.00
1,"AARON, JEFFERY M",POLICE OFFICER,POLICE,$80778.00
2,"AARON, KARINA",POLICE OFFICER,POLICE,$80778.00
3,"AARON, KIMBERLEI R",CHIEF CONTRACT EXPEDITER,GENERAL SERVICES,$84780.00
4,"ABAD JR, VICENTE M",CIVIL ENGINEER IV,WATER MGMNT,$104736.00

In [24]:
df["Position Title"].value_counts()

Position Title
POLICE OFFICER                            9489
FIREFIGHTER-EMT                           1191
SERGEANT                                  1138
FIREFIGHTER                                970
POLICE OFFICER (ASSIGNED AS DETECTIVE)     808
                                          ...
FOREMAN OF WINDOW WASHERS                    1
SUPVSR OF INFORMATION SERVICES               1
MANAGER OF TAX POLICY                        1
FOREMAN OF ARCHITECTURAL IRON WORKERS        1
MECHANICAL ENGINEER IV                       1
Name: count, Length: 1094, dtype: int64

### Nova consulta

In [25]:
arquivo = ("arquivos/profissao2013.csv")

In [26]:
leitura = pd.read_csv(arquivo)

In [27]:
leitura.head()

,FUND TYPE,DEPARTMENT CODE,DEPARTMENT DESCRIPTION,FUND CODE,FUND DESCRIPTION,ORGANIZATION CODE,ORGANIZATION DESCRIPTION,DIVISION CODE,DIVISION DESCRIPTION,SECTION CODE,...,SUB-SECTION DESCRIPTION,SCHEDULE / GRADE,BARGAINING UNIT,TITLE CODE,TITLE DESCRIPTION,BUDGETED UNIT,TOTAL BUDGETED UNIT,POSITION CONTROL,BUDGETED PAY RATE,TOTAL BUDGETED AMOUNT
0,Local,1,OFFICE OF THE MAYOR,100,CORPORATE FUND,1005,OFFICE OF THE MAYOR,2005,OFFICE OF THE MAYOR,3005,...,NaN,1 00,9,9901,Mayor,Annual,1,1,216210.0,216210.0
1,Local,1,OFFICE OF THE MAYOR,100,CORPORATE FUND,1005,OFFICE OF THE MAYOR,2005,OFFICE OF THE MAYOR,3005,...,NaN,1 00,0,9637,Administrative Assistant,Annual,1,1,48000.0,48000.0
2,Local,1,OFFICE OF THE MAYOR,100,CORPORATE FUND,1005,OFFICE OF THE MAYOR,2005,OFFICE OF THE MAYOR,3005,...,NaN,1 00,0,9637,Administrative Assistant,Annual,1,1,44004.0,44004.0
3,Local,1,OFFICE OF THE MAYOR,100,CORPORATE FUND,1005,OFFICE OF THE MAYOR,2005,OFFICE OF THE MAYOR,3005,...,NaN,1 00,9,9617,Administrative Secretary,Annual,1,1,74988.0,74988.0
4,Local,1,OFFICE OF THE MAYOR,100,CORPORATE FUND,1005,OFFICE OF THE MAYOR,2005,OFFICE OF THE MAYOR,3010,...,NaN,1 00,9,9899,Chief of Staff,Annual,1,1,174996.0,174996.0

In [28]:
leitura["TITLE DESCRIPTION"].value_counts()

TITLE DESCRIPTION
Schedule Salary Adjustments          484
Police Officer                       198
Staff Assistant                      158
Fringe Benefits                      139
Administrative Assistant II          137
                                    ...
Licensing Coordinator                  1
Director of Youth Services             1
Executive Director - Police Board      1
Foster Grandparent                     1
Personal Care Attendant II             1
Name: count, Length: 1180, dtype: int64

In [29]:
leitura.count()

FUND TYPE                   7219
DEPARTMENT CODE             7219
DEPARTMENT DESCRIPTION      7219
FUND CODE                   7219
FUND DESCRIPTION            7219
ORGANIZATION CODE           7219
ORGANIZATION DESCRIPTION    7219
DIVISION CODE               7219
DIVISION DESCRIPTION        7219
SECTION CODE                7219
SECTION DESCRIPTION         7219
SUBSECTION CODE             7219
SUB-SECTION DESCRIPTION     3762
SCHEDULE / GRADE            7219
BARGAINING UNIT             7219
TITLE CODE                  7219
TITLE DESCRIPTION           7219
BUDGETED UNIT               7219
TOTAL BUDGETED UNIT         7219
POSITION CONTROL            7219
BUDGETED PAY RATE           7219
TOTAL BUDGETED AMOUNT       7219
dtype: int64